.container {
	margin: 0px 60px 0px 60px;
}

body {
	background: url(../image/bg1.png) center center repeat;
	min-height: 100vh;
}

a {
	text-decoration: none !important;
}

.index-info {
	max-width: 600px;
}

.nav {
	margin-bottom: 30px;
}

.index-body{
	margin:auto;
	margin-top: 100px;
	max-width: 1300px;
}

.uk-card {
	min-height: 250px;
	overflow-y: scroll;
	max-height: 250px;
	
}

.uk-card:hover { 
    background-color: yellow;
    color:black;
}

.uk-card:active { 
    background-color: black;
    color: black;
}

/*ul {
	justify-content: center;
}
*/
.contact-img {
	max-height: 100px;
	margin: 10px;
}

.uk-sticky {
	min-height: 40px;
}

.resume-object {
	width: 800px;
	height: 800px;
}




