.container {
	margin: 40px 60px 40px 60px;
}

.index-info {
	max-width: 600px;
}

.nav {
	margin-bottom: 30px;
}

/*.liri {
	background: url(../image/projects/terminal.png);
	background-size: cover;
}*/

.index-body{
	margin:auto;
	margin-top: 100px;
	max-width: 1300px;
}

.uk-card {
	min-height: 250px;
}

.uk-card:hover { 
    background-color: yellow;
    color:black;
}

.uk-card:active { 
    background-color: black;
    color: black;
}

/*.contact-bar {
	align-items: center;
	justify-content: center;
}*/

.contact-img {
	max-height: 100px;
	margin: 10px;
}









